<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="DSAlgoProject"> 

<listeners>
<listener class-name="extentReports.ExtentReportsListener"/> </listeners>


             <test name="getstarted" allow-return-values="true">
             <parameter name="browsername" value ="chrome"/>
                     <classes>
                       <!-- packagename.Testcase class name  -->
                             <class name ="com.DSAlgo.Testcases.GetStartedPageTest" />
                             <class name ="com.DSAlgo.Testcases.HomePageTest" />
                             <class name ="com.DSAlgo.Testcases.LoginTestcase_Tc" />  
                             <class name ="com.DSAlgo.Testcases.QueueTest" />
                             <class name ="com.DSAlgo.Testcases.TreeTest" />

                     </classes>
             </test>


             

 </suite>

